header {
    height: 100px;
    background: linear-gradient(to right, #1f4edb, #85006e);
}

header h1 {
    font-size: 2.5rem;
    color: var(--light);
}

header .nav {
    float: none;
    position: absolute;
    left: 20%;
}