main h2 {
    font-size: 2.5rem;
}

/* About Page */

.fa-user-circle {
    font-size: 6rem;
}

/* Portfolio */

.portfolio h5 {
    color: black;
    text-align: center;
    
}

.portfolio .description {
    color: black;
    text-align: left;
}

.portfolio .image {
    background: none;
}
/* Resume */

.resume .list-group-item {
    background-color: lightblue;
    color: black;
}
